@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
@import url("./fonts/TT-Commons/fontface.css");

// Colors

$color-black: #1D1D1D;
$color-white: #FFFFFF;
$color-grey: #F2F2F2;
$color-grey-input: #E3E3E3;
$color-grey-selection: #DBDBDB;
$color-grey-detail: #B2B2B2;
$color-red: #FA4D2B;
$color-yellow: #FAC02B;
$color-green: #0FBF36;

// Font weights

.font-weight-regular {font-weight: 400;}
$font-weight-regular: 400;

.font-weight-medium {font-weight: 500;}
$font-weight-medium: 500;

.font-weight-demibold {font-weight: 600;}
$font-weight-demibold: 600;

.font-weight-bold {font-weight: 700;}
$font-weight-bold: 700;

// Font size

.font-size-label {font-size: 1.6rem;}
$font-size-label: 1.8rem;

.font-size-label-title {font-size: 2rem;}
$font-size-label-title: 2.2rem;

.font-size-label-title-x2 {font-size: 4rem;}
$font-size-label-title-x2: 4.4rem;

// Font family

$font-family-regular: "TT Commons Regular";
$font-family-regular-italic: "TT Commons Regular Italic";

$font-family-medium: "TT Commons Medium";
$font-family-medium-italic: "TT Commons Medium Italic";

$font-family-demibold: "TT Commons DemiBold";
$font-family-demibold-italic: "TT Commons DemiBold Italic";

$font-family-bold: "TT Commons Bold";
$font-family-bold-italic: "TT Commons Bold Italic";

// Normalize

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

// Set default element style

html {
  font-size: 10px; // Initialize rem unit
  font-family: $font-family-regular;
  padding: 0;
  margin: 0;
  color: $color-black;
  background: $color-white;
  background-color: $color-white;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  border: none !important;
}

// Icons

svg.icon{
  width: 2.4rem;
  height: 2.4rem;
} 

// Label

.label {
  font-size: $font-size-label;
  line-height: $font-size-label;
  font-family: $font-family-medium;
  display: inline-block;

  &.detail {
    color: $color-grey-detail;
  }

  &.bold {
    font-family: $font-family-demibold;
  }

  &.paragraph {
    font-family: $font-family-regular;
  }

  &.title {
    font-size: $font-size-label-title;
    line-height: $font-size-label-title;
    font-family: $font-family-demibold;
  }

  &.title-x2 {
    font-size: $font-size-label-title-x2;
    line-height: $font-size-label-title-x2;
    font-family: $font-family-demibold;
  }
}

// Buttons

.button {
  cursor: pointer;
  font-size: $font-size-label;
  font-family: $font-family-demibold;
  padding: 1.6rem 4.4rem;
  border-radius: 1rem;
  background: $color-grey-input; // default
  color: $color-black; // default
  display: inline-block;
  display: inline-flex;
  align-items: center;

  // Size
  &.chip {
    padding: 1rem 2.6rem !important;
    &.icon {
      // SVG Adjustement
      padding: 0.835rem 2.6rem !important;
      svg {
        transform: scale(.75);
        margin-right: 0.6rem !important;
      }
    }
  }

  // Styles
  &.black {
    background: $color-black;
    color: $color-white;
    &.icon svg, &.icon-button svg {
      stroke: $color-white !important;
    }
  }
  &.action {
    background: $color-yellow;
    color: $color-black;
  }
  &.icon {
    // SVG Adjustement
    padding: 1.435rem 4.4rem !important;
    svg {
      margin-right: 1.6rem;
      stroke: $color-black;
    }
  }
  &.icon-button {
    padding: 0 0;
    height: 5.27rem;
    width: 5.27rem;
    svg {
      margin-right: 0;
      stroke: $color-black;
      margin: auto auto;
    }
  }
}

// Property list item

.list .property_item {
  margin-bottom: 3rem;
  .photo {
    margin-right: 3rem;
  }
  .description {
    max-width: 40rem;
  }
  .features div::after {
    content: "·";
    margin: 0 1rem;
  }
  .features div:last-child::after {
    content: none !important;
    margin: 0;
  }
}
.property_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .photo {
    min-width: 45rem;
    width: 45rem;
    max-width: 45rem;
    height: 30rem;
    background-image: url(./img/placeholder.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 3rem;
  }

  .location, .features {
    margin-bottom: 1rem;
  }
  .price, .description {
    margin-bottom: 2.4rem;
  }

  .price {
    display: flex;
    align-items: baseline;
    .currency {
      margin-left: .6rem;
    }
  }

  .actions {
    display: flex;
    .button {
      margin-right: 1rem;
    }
    .button:last-child {
      margin-right: 0;
    }
  }
}