@charset "UTF-8";
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
@import url("./fonts/TT-Commons/fontface.css");
.font-weight-regular {
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-demibold {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}

.font-size-small {
  font-size: 1.6rem;
}

.font-size-label {
  font-size: 1.8rem;
}

.font-size-label-title {
  font-size: 2.4rem;
}

.font-size-label-title-x2 {
  font-size: 4.4rem;
}

.font-size-label-title-x3 {
  font-size: 6rem;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 10px;
  font-family: "TT Commons Regular";
  padding: 0;
  margin: 0;
  color: #1D1D1D;
  background: #FFFFFF;
  background-color: #FFFFFF;
  letter-spacing: .03rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  border: none !important;
}

.form.inline label {
  display: inline-block;
  margin: 0;
}

.form.inline label .button {
  margin: 0;
}

.form.inline label.disabled {
  cursor: not-allowed !important;
  opacity: .3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.form .sub-group {
  margin-left: 2rem;
}

.form .label, .form .button, .form .select {
  display: block;
  margin-top: 1.5rem;
}

.form .label .label, .form .button .label, .form .select .label {
  margin-top: 0rem;
  display: inline-block;
}

.form .label:first-child, .form .button:first-child, .form .select:first-child {
  margin-top: 0rem;
}

.form .label {
  margin-top: 3rem;
}

.form label {
  margin-top: .8rem;
}

.form .group {
  margin-top: 3rem;
}

.form .group:first-child {
  margin-top: 0rem;
  margin-bottom: 3rem;
}

.form .group .label, .form .group .button, .form .group .select {
  margin-top: 1.5rem;
}

.form .group .label:first-child, .form .group .button:first-child, .form .group .select:first-child {
  margin-top: 0rem;
}

.form .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

select, input, label {
  font-size: 1.8rem;
}

input {
  max-width: 11rem;
  display: inline-block;
}

input[type="checkbox"], input[type="radio"] {
  display: none;
}

input[type="checkbox"][required] ~ .label::after, input[type="radio"][required] ~ .label::after {
  content: " *";
  font-family: "TT Commons DemiBold";
  color: #FA4D2B;
}

input[type="checkbox"]:hover ~ .label::before, input[type="radio"]:hover ~ .label::before {
  background: #DBDBDB;
}

input[type="checkbox"]:checked ~ .label::before, input[type="radio"]:checked ~ .label::before {
  background: #1D1D1D;
}

input[type="checkbox"][type="checkbox"]:checked ~ .label::before, input[type="radio"][type="checkbox"]:checked ~ .label::before {
  background-image: url("../css/icons/check.svg");
  background-size: 1.8rem 1.8rem;
  background-position: center center;
  background-repeat: no-repeat;
}

input[type="checkbox"].error, input[type="checkbox"].alert, input[type="radio"].error, input[type="radio"].alert {
  color: #FA4D2B;
}

input[type="checkbox"].error ~ .label, input[type="checkbox"].alert ~ .label, input[type="radio"].error ~ .label, input[type="radio"].alert ~ .label {
  color: #FA4D2B;
}

input[type="radio"] ~ .label::before {
  border-radius: 100%;
  -webkit-box-shadow: inset 0 0 0 0.3rem #E3E3E3, inset 0 0 0 0.7rem #F2F2F2;
          box-shadow: inset 0 0 0 0.3rem #E3E3E3, inset 0 0 0 0.7rem #F2F2F2;
}

input[type="radio"]:checked ~ .label::before {
  -webkit-box-shadow: inset 0 0 0 0.3rem #1D1D1D, inset 0 0 0 0.7rem #F2F2F2;
          box-shadow: inset 0 0 0 0.3rem #1D1D1D, inset 0 0 0 0.7rem #F2F2F2;
}

input[type="number"],
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea {
  display: inline-block;
  width: auto;
  margin-top: 1.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  padding: 1.2rem 1.6rem;
  border-radius: 1rem;
  background: #E3E3E3;
  font-family: "TT Commons Medium";
  font-size: 1.8rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

input[type="number"][disabled]::-webkit-input-placeholder,
input[type="text"][disabled]::-webkit-input-placeholder,
input[type="tel"][disabled]::-webkit-input-placeholder,
input[type="email"][disabled]::-webkit-input-placeholder,
input[type="password"][disabled]::-webkit-input-placeholder,
textarea[disabled]::-webkit-input-placeholder {
  opacity: .8;
}

input[type="number"][disabled]:-ms-input-placeholder,
input[type="text"][disabled]:-ms-input-placeholder,
input[type="tel"][disabled]:-ms-input-placeholder,
input[type="email"][disabled]:-ms-input-placeholder,
input[type="password"][disabled]:-ms-input-placeholder,
textarea[disabled]:-ms-input-placeholder {
  opacity: .8;
}

input[type="number"][disabled]::-ms-input-placeholder,
input[type="text"][disabled]::-ms-input-placeholder,
input[type="tel"][disabled]::-ms-input-placeholder,
input[type="email"][disabled]::-ms-input-placeholder,
input[type="password"][disabled]::-ms-input-placeholder,
textarea[disabled]::-ms-input-placeholder {
  opacity: .8;
}

input[type="number"][disabled]::placeholder,
input[type="text"][disabled]::placeholder,
input[type="tel"][disabled]::placeholder,
input[type="email"][disabled]::placeholder,
input[type="password"][disabled]::placeholder,
textarea[disabled]::placeholder {
  opacity: .8;
}

input[type="number"][disabled]:hover, input[type="number"][disabled]:active, input[type="number"][disabled]:focus,
input[type="text"][disabled]:hover,
input[type="text"][disabled]:active,
input[type="text"][disabled]:focus,
input[type="tel"][disabled]:hover,
input[type="tel"][disabled]:active,
input[type="tel"][disabled]:focus,
input[type="email"][disabled]:hover,
input[type="email"][disabled]:active,
input[type="email"][disabled]:focus,
input[type="password"][disabled]:hover,
input[type="password"][disabled]:active,
input[type="password"][disabled]:focus,
textarea[disabled]:hover,
textarea[disabled]:active,
textarea[disabled]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type="number"].error, input[type="number"].alert,
input[type="text"].error,
input[type="text"].alert,
input[type="tel"].error,
input[type="tel"].alert,
input[type="email"].error,
input[type="email"].alert,
input[type="password"].error,
input[type="password"].alert,
textarea.error,
textarea.alert {
  background: rgba(250, 77, 43, 0.05);
  -webkit-box-shadow: 0 0 0 0.2rem rgba(250, 77, 43, 0.4);
          box-shadow: 0 0 0 0.2rem rgba(250, 77, 43, 0.4);
}

input[type="number"].error:hover, input[type="number"].alert:hover,
input[type="text"].error:hover,
input[type="text"].alert:hover,
input[type="tel"].error:hover,
input[type="tel"].alert:hover,
input[type="email"].error:hover,
input[type="email"].alert:hover,
input[type="password"].error:hover,
input[type="password"].alert:hover,
textarea.error:hover,
textarea.alert:hover {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(250, 77, 43, 0.4);
          box-shadow: 0 0 0 0.2rem rgba(250, 77, 43, 0.4);
}

input[type="number"].error:focus, input[type="number"].error:active, input[type="number"].alert:focus, input[type="number"].alert:active,
input[type="text"].error:focus,
input[type="text"].error:active,
input[type="text"].alert:focus,
input[type="text"].alert:active,
input[type="tel"].error:focus,
input[type="tel"].error:active,
input[type="tel"].alert:focus,
input[type="tel"].alert:active,
input[type="email"].error:focus,
input[type="email"].error:active,
input[type="email"].alert:focus,
input[type="email"].alert:active,
input[type="password"].error:focus,
input[type="password"].error:active,
input[type="password"].alert:focus,
input[type="password"].alert:active,
textarea.error:focus,
textarea.error:active,
textarea.alert:focus,
textarea.alert:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(250, 77, 43, 0.8);
          box-shadow: 0 0 0 0.2rem rgba(250, 77, 43, 0.8);
}

input[type="number"].transparent,
input[type="text"].transparent,
input[type="tel"].transparent,
input[type="email"].transparent,
input[type="password"].transparent,
textarea.transparent {
  background: none;
}

input[type="number"].no-resize,
input[type="text"].no-resize,
input[type="tel"].no-resize,
input[type="email"].no-resize,
input[type="password"].no-resize,
textarea.no-resize {
  resize: none;
}

input[type="number"].no-border:hover, input[type="number"].no-border:active, input[type="number"].no-border:focus,
input[type="text"].no-border:hover,
input[type="text"].no-border:active,
input[type="text"].no-border:focus,
input[type="tel"].no-border:hover,
input[type="tel"].no-border:active,
input[type="tel"].no-border:focus,
input[type="email"].no-border:hover,
input[type="email"].no-border:active,
input[type="email"].no-border:focus,
input[type="password"].no-border:hover,
input[type="password"].no-border:active,
input[type="password"].no-border:focus,
textarea.no-border:hover,
textarea.no-border:active,
textarea.no-border:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type="number"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: .35;
}

input[type="number"]:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: .35;
}

input[type="number"]::-ms-input-placeholder,
input[type="text"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: .35;
}

input[type="number"]::placeholder,
input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder {
  opacity: .35;
}

input[type="number"][type="password"],
input[type="text"][type="password"],
input[type="tel"][type="password"],
input[type="email"][type="password"],
input[type="password"][type="password"],
textarea[type="password"] {
  letter-spacing: .5rem;
  -webkit-text-fill-color: #1D1D1D;
  -webkit-text-stroke-width: .5rem;
  -webkit-text-stroke-color: #1D1D1D;
}

input[type="number"][type="password"]::-webkit-input-placeholder,
input[type="text"][type="password"]::-webkit-input-placeholder,
input[type="tel"][type="password"]::-webkit-input-placeholder,
input[type="email"][type="password"]::-webkit-input-placeholder,
input[type="password"][type="password"]::-webkit-input-placeholder,
textarea[type="password"]::-webkit-input-placeholder {
  letter-spacing: .15rem;
  -webkit-text-stroke-width: 0;
}

input[type="number"][type="password"]:-ms-input-placeholder,
input[type="text"][type="password"]:-ms-input-placeholder,
input[type="tel"][type="password"]:-ms-input-placeholder,
input[type="email"][type="password"]:-ms-input-placeholder,
input[type="password"][type="password"]:-ms-input-placeholder,
textarea[type="password"]:-ms-input-placeholder {
  letter-spacing: .15rem;
  -webkit-text-stroke-width: 0;
}

input[type="number"][type="password"]::-ms-input-placeholder,
input[type="text"][type="password"]::-ms-input-placeholder,
input[type="tel"][type="password"]::-ms-input-placeholder,
input[type="email"][type="password"]::-ms-input-placeholder,
input[type="password"][type="password"]::-ms-input-placeholder,
textarea[type="password"]::-ms-input-placeholder {
  letter-spacing: .15rem;
  -webkit-text-stroke-width: 0;
}

input[type="number"][type="password"]::placeholder,
input[type="text"][type="password"]::placeholder,
input[type="tel"][type="password"]::placeholder,
input[type="email"][type="password"]::placeholder,
input[type="password"][type="password"]::placeholder,
textarea[type="password"]::placeholder {
  letter-spacing: .15rem;
  -webkit-text-stroke-width: 0;
}

input[type="number"]:hover,
input[type="text"]:hover,
input[type="tel"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea:hover {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(29, 29, 29, 0.2);
          box-shadow: 0 0 0 0.2rem rgba(29, 29, 29, 0.2);
}

input[type="number"]:focus, input[type="number"]:active,
input[type="text"]:focus,
input[type="text"]:active,
input[type="tel"]:focus,
input[type="tel"]:active,
input[type="email"]:focus,
input[type="email"]:active,
input[type="password"]:focus,
input[type="password"]:active,
textarea:focus,
textarea:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(29, 29, 29, 0.6);
          box-shadow: 0 0 0 0.2rem rgba(29, 29, 29, 0.6);
}

input[type="number"].mode-fill,
input[type="text"].mode-fill,
input[type="tel"].mode-fill,
input[type="email"].mode-fill,
input[type="password"].mode-fill,
textarea.mode-fill {
  display: block;
  width: 100%;
  max-width: 100vw;
}

input[type="password"].hint {
  position: relative;
}

input[type="password"].hint ~ label.passwordHint {
  position: absolute;
  left: calc(50% + 2.5rem);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 3rem 2.5rem;
  background: #1D1D1D;
  color: #FFFFFF;
  border-radius: 1rem;
  -webkit-transition: all .15s ease-in-out, margin 0s, top 0s;
  transition: all .15s ease-in-out, margin 0s, top 0s;
  pointer-events: none;
  opacity: 0;
  z-index: 999;
}

input[type="password"].hint:focus ~ label.passwordHint {
  left: calc(50% + 3rem);
  opacity: 1;
}

input[type="password"].hint ~ label.passwordHint::before {
  position: absolute;
  top: 50%;
  left: -1rem;
  width: 2rem;
  height: 2rem;
  background: #1D1D1D;
  -webkit-transform: translateY(-50%) rotateZ(45deg);
          transform: translateY(-50%) rotateZ(45deg);
}

input[type="password"].hint ~ label.passwordHint span {
  font-family: "TT Commons DemiBold";
}

input[type="password"].hint ~ label.passwordHint p {
  position: relative;
  margin: 1.75rem 0 0 3.8rem;
  color: #F2F2F2;
}

input[type="password"].hint ~ label.passwordHint p::before {
  content: "";
  position: absolute;
  top: -0.1rem;
  left: -3.4rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 100%;
  background: rgba(250, 77, 43, 0.8);
  background-image: url("../css/icons/cross.svg");
  background-size: 1.1rem 1.1rem;
  background-position: center center;
  background-repeat: no-repeat;
}

input[type="password"].hint ~ label.passwordHint p.done::before {
  background: rgba(15, 191, 54, 0.85);
  background-image: url("../css/icons/check.svg");
  background-size: 1.4rem 1.4rem;
  background-position: center center;
  background-repeat: no-repeat;
}

label {
  display: block;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

label .label {
  padding-left: 4.4rem;
  position: relative;
}

label .label::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 3rem;
  height: 3rem;
  background: #E3E3E3;
  border-radius: .8rem;
}

.dropArea {
  border: 0.3rem dashed #DBDBDB;
  border-radius: 1rem;
  width: 100%;
  margin: 2rem auto;
  text-align: center;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.dropArea .fileInput {
  display: none;
}

.dropArea label {
  padding: 5rem 4rem;
  margin: 0;
  color: #B2B2B2;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.dropArea label .button, .dropArea label p {
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.dropArea.highlight, .dropArea:hover {
  border-color: rgba(29, 29, 29, 0.2);
  background: rgba(29, 29, 29, 0.05);
}

.dropArea.highlight p, .dropArea:hover p {
  color: rgba(29, 29, 29, 0.5);
}

.dropArea.highlight .button, .dropArea:hover .button {
  background: rgba(29, 29, 29, 0.1);
}

.gallery {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 38rem;
  max-width: 38rem;
  margin-top: 1rem;
}

.gallery.empty {
  padding: 8rem 0;
  text-align: center;
  font-size: 1.8rem;
  background: rgba(29, 29, 29, 0.05);
  border-radius: 1rem;
}

.gallery.empty::before {
  content: "Carga imágenes para añadirlas al inmueble";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  color: rgba(29, 29, 29, 0.5);
}

.gallery .imageOptions {
  position: absolute;
  top: 0;
  left: 0;
  width: 18rem;
  height: 12rem;
  border-radius: .6rem;
  background: rgba(29, 29, 29, 0.6);
  pointer-events: none;
  opacity: 1;
}

.gallery .imageOptions::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3rem;
  height: 3rem;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  background-image: url("../css/icons/remove.svg");
  background-size: 3rem 3rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.gallery .imageOptions.hide {
  opacity: 0;
}

.select {
  position: relative;
}

/*
.select select {
  //display: none !important;
}
*/
.select-selected {
  background: #DBDBDB;
  font-family: "TT Commons DemiBold";
  border-radius: 1rem;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: ">";
  top: 1.8rem;
  right: 1rem;
  -webkit-transform: rotateZ(90deg) scaleY(1.6);
          transform: rotateZ(90deg) scaleY(1.6);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  font-size: 2.4rem;
  font-family: "TT Commons Regular";
  width: 0;
  height: 0;
}

.select-selected.select-arrow-active {
  border-radius: 1rem 1rem 0rem 0rem;
}

.select-selected.select-arrow-active:after {
  top: 2.8rem;
  right: 6rem;
  -webkit-transform: rotateZ(-90deg) scaleY(1.6);
          transform: rotateZ(-90deg) scaleY(1.6);
}

.select-items div, .select-selected {
  color: #1D1D1D;
  padding: 1.4rem 2rem;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 1rem;
}

.select-items {
  position: absolute;
  background: #DBDBDB;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 0rem 0rem 1rem 1rem;
}

.select-hide {
  display: none;
}

.select-items div:hover, .item-selected {
  background: rgba(29, 29, 29, 0.1);
}

.item-selected {
  font-family: "TT Commons DemiBold";
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexbox.inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flexbox.imageGallery {
  border-radius: 1rem;
}

.flexbox.imageGallery img {
  margin-right: 3rem;
  border-radius: 1rem;
  height: 50rem;
  max-height: 50rem;
}

.flexbox.imageGallery img:last-child {
  margin-right: 0;
}

.flexbox .searchView #map, .flexbox .searchView #viewMode {
  position: relative;
}

.flexbox .searchView input[type="radio"]#viewMode[value="1"] ~ #map {
  pointer-events: none;
  opacity: 0;
  -webkit-transform: scale(0) !important;
          transform: scale(0) !important;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.flexbox .searchView input[type="radio"]#viewMode[value="1"] ~ #catalogo {
  pointer-events: all;
  opacity: 1;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.flexbox .searchView input[type="radio"]#viewMode[value="2"] ~ #catalogo {
  pointer-events: none;
  opacity: 0;
  -webkit-transform: scale(0) !important;
          transform: scale(0) !important;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: none !important;
}

.flexbox .searchView input[type="radio"]#viewMode[value="2"] ~ #map {
  pointer-events: all;
  opacity: 1;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.flexbox .map.round {
  border-radius: 1rem;
  overflow: hidden;
}

.flexbox.block {
  background: #F2F2F2;
  display: inline-table;
}

.flexbox.block.form {
  padding: 5rem 4rem;
}

.flexbox.block.round {
  border-radius: 1rem;
}

.flexbox.block.overflow {
  overflow: auto;
}

.flexbox.group {
  background: #F2F2F2;
}

.flexbox.group.round {
  border-radius: 1rem;
}

.flexbox.group.overflow {
  overflow: auto;
}

.flexbox.group .option {
  background: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flexbox.group .option.selected {
  background: #DBDBDB;
  font-family: "TT Commons Bold";
}

.flexbox.group label.inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flexbox.group label input[type="radio"] {
  display: none;
}

.flexbox.group label input[type="radio"]:checked ~ .label, .flexbox.group label input[type="radio"]:checked ~ .button {
  background: #DBDBDB;
  font-family: "TT Commons Bold";
}

.flexbox.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexbox.spaced {
  margin: 2rem;
}

.flexbox.spaced-top {
  margin-top: 4rem;
}

.flexbox.spaced-top-x2 {
  margin-top: 8rem;
}

.flexbox.spaced-bottom {
  margin-bottom: 4rem;
}

.flexbox.spaced-bottom-x2 {
  margin-bottom: 8rem;
}

.flexbox.spaced-inner-top {
  padding-top: 4rem;
}

.flexbox.spaced-inner-bottom {
  padding-bottom: 4rem;
}

.flexbox.inner-spaced {
  padding: 2rem;
}

.flexbox.inner-spaced-x2 {
  padding: 4rem;
}

.flexbox.shrinknt {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.flexbox.center-v {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexbox.center-h {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexbox.center-items-v {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexbox.center-items-v * {
  margin-top: 0;
}

.flexbox.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexbox.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flexbox.row.full-width, .flexbox.column.full-width {
  width: 100vw;
  overflow: auto;
}

.flexbox.row.full-height, .flexbox.column.full-height {
  height: 100vh;
  overflow: auto;
}

.flexbox .item.full-width, .flexbox .item.full-height {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

svg.icon {
  width: 2.4rem;
  height: 2.4rem;
}

.sep {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

.sep.x2 {
  width: 3rem;
  height: 3rem;
}

.sep.inline {
  display: inline-block;
}

.label {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-family: "TT Commons Medium";
  display: inline-block;
}

.label.inline {
  display: inline-block;
}

.label.block {
  display: block;
}

.label.centered {
  text-align: center;
}

.label.pointer {
  cursor: pointer;
}

.label.underline {
  text-decoration: underline;
}

.label.detail {
  color: #B2B2B2;
}

.label.green {
  color: #0FBF36;
}

.label.yellow {
  color: #FAC02B;
}

.label.red, .label.alert {
  color: #FA4D2B;
}

.label.bold {
  font-family: "TT Commons DemiBold";
}

.label.small {
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.label.paragraph {
  font-family: "TT Commons Regular";
}

.label.title {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-family: "TT Commons DemiBold";
}

.label.title-x2 {
  font-size: 4.4rem;
  line-height: 4.4rem;
  font-family: "TT Commons DemiBold";
}

.label.title-x2.spaced-top {
  margin-top: 6rem;
}

.label.title-x3 {
  font-size: 6rem;
  line-height: 6rem;
  font-family: "TT Commons DemiBold";
}

.label.required::after {
  content: " *";
  font-family: "TT Commons DemiBold";
  color: #FA4D2B;
}

.label.optional::after {
  content: " (opcional)";
  font-family: "TT Commons DemiBold";
  font-size: 1.8rem;
  color: #B2B2B2;
}

.button {
  cursor: pointer;
  font-size: 1.8rem;
  font-family: "TT Commons DemiBold";
  padding: 1.6rem 4.4rem;
  border-radius: 1rem;
  background: #E3E3E3;
  color: #1D1D1D;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none !important;
  letter-spacing: .1rem;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.button.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button.centered {
  margin: 0 auto;
}

.button.block {
  width: 100%;
}

.button.invisible {
  display: none !important;
}

.button.chip {
  padding: 1rem 2.6rem !important;
}

.button.chip.icon {
  padding: 0.835rem 2.6rem !important;
}

.button.chip.icon svg {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  margin-right: 0.6rem !important;
}

.button.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.button.black {
  background: #1D1D1D;
  color: #FFFFFF;
}

.button.black.icon svg, .button.black.icon-button svg {
  stroke: #FFFFFF !important;
}

.button.action {
  background: #FAC02B;
  color: #1D1D1D;
}

.button.delete {
  background: #FBD3CB;
  color: #FA4D2B;
}

.button.disabled {
  opacity: .5;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button.icon {
  padding: 1.435rem 4.4rem !important;
}

.button.icon svg {
  margin-right: 1.6rem;
  stroke: #1D1D1D;
}

.button.icon-button {
  padding: 0 0;
  height: 5.27rem;
  width: 5.27rem;
}

.button.icon-button svg {
  margin-right: 0;
  stroke: #1D1D1D;
  margin: auto auto;
}

.button.applyFiltersSearch {
  position: fixed;
  bottom: 2.5rem;
  max-width: 30rem;
  -webkit-box-shadow: 0 3rem 0 0 #F2F2F2, 0 -0.9rem 2rem 1rem #F2F2F2;
          box-shadow: 0 3rem 0 0 #F2F2F2, 0 -0.9rem 2rem 1rem #F2F2F2;
}

.button.applyFiltersSearch::before {
  content: "";
  position: absolute;
  top: -4rem;
  left: 0;
  width: 100%;
  height: 4rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(242, 242, 242, 0)), to(#f2f2f2));
  background: linear-gradient(rgba(242, 242, 242, 0), #f2f2f2);
}

.list .property_item {
  margin-bottom: 3rem;
}

.list .property_item .photo {
  margin-right: 3rem;
}

.list .property_item .description {
  max-width: 40rem;
}

.list .property_item .features div::after {
  content: "·";
  margin: 0 1rem;
}

.list .property_item .features div:last-child::after {
  content: none !important;
  margin: 0;
}

.property_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.property_item .photo {
  min-width: 45rem;
  width: 45rem;
  max-width: 45rem;
  height: 30rem;
  background-image: url(./img/placeholder.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.property_item .location, .property_item .features {
  margin-bottom: 1rem;
}

.property_item .price, .property_item .description {
  margin-bottom: 2.4rem;
}

.property_item .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.property_item .price .currency {
  margin-left: .6rem;
}

.property_item .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.property_item .actions .button {
  margin-right: 1rem;
}

.property_item .actions select, .property_item .actions .select {
  padding: 0 3rem 0 1rem;
}

.property_item .actions .button:last-child {
  margin-right: 0;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6rem 0 10rem 0;
}

.steps .step {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background: #F2F2F2;
  color: #1D1D1D;
  margin-right: 18rem;
}

.steps .step span {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 16rem;
  height: .2rem;
  background: #DBDBDB;
  -webkit-transform: translateY(-50%) translateX(1rem);
          transform: translateY(-50%) translateX(1rem);
}

.steps .step::before {
  content: attr(stepNumber);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 1.6rem;
  opacity: .6;
}

.steps .step::after {
  content: attr(stepLabel);
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(1rem);
          transform: translateX(-50%) translateY(1rem);
  font-size: 1.6rem;
  white-space: nowrap;
  color: #1D1D1D;
  opacity: .6;
}

.steps .step:last-child {
  margin-right: 0;
}

.steps .step:last-child span {
  display: none;
}

.steps .step.filled {
  -webkit-box-shadow: inset 0 0 0 0.2rem #1D1D1D;
          box-shadow: inset 0 0 0 0.2rem #1D1D1D;
  background: none;
}

.steps .step.filled span {
  background: #1D1D1D;
}

.steps .step.filled::before, .steps .step.filled::after {
  font-family: "TT Commons DemiBold";
  opacity: 1;
}

.steps .step.current {
  background: #1D1D1D;
  color: #FFFFFF;
}

.steps .step.current::before, .steps .step.current::after {
  font-family: "TT Commons DemiBold";
  opacity: 1;
}

.hideElement {
  display: none !important;
}

nav {
  position: relative;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}

nav.wide {
  padding: 6rem;
  border-bottom: none;
}

nav.wide .dropdownList {
  right: 6rem;
}

nav.centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: none;
}

nav .logo {
  position: relative;
  width: 9rem;
  height: 4rem;
  background-image: url("./logo/logotipo.png");
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}

nav .links {
  float: right;
}

nav .links .link:not(.button) {
  position: relative;
  margin-right: 5rem;
}

nav .links .link:not(.button).selected::before {
  content: "";
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  width: 100%;
  height: .8rem;
  border-bottom: 0.2rem solid #1D1D1D;
}

nav .links .link.dropdown::after {
  content: "";
  width: 2rem;
  height: 2rem;
  background-image: url("./icons/arrowDown.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 2rem;
}

nav .links .link.disabled, nav .links .link [disabled] {
  opacity: .3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

nav .dropdownList {
  position: absolute;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0.2rem solid #1D1D1D;
  padding: 1rem;
  border-radius: .8rem;
  margin-top: .6rem;
  background: #FFFFFF;
  z-index: 99;
}

nav .dropdownList a {
  padding: 1rem;
  border-bottom: 0.1rem solid #F2F2F2;
}

nav .dropdownList a:last-child {
  border-bottom: none;
}

nav .dropdownList a.disabled, nav .dropdownList a [disabled] {
  opacity: .3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

body.landing {
  width: 100vw;
  height: 100vh;
  background-image: url("./img/landing.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=styles.css.map */