@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
@import url("./fonts/TT-Commons/fontface.css");

// Colors

$color-black: #1D1D1D;
$color-white: #FFFFFF;
$color-grey: #F2F2F2;
$color-grey-input: #E3E3E3;
$color-grey-selection: #DBDBDB;
$color-grey-detail: #B2B2B2;
$color-red: #FA4D2B;
$color-yellow: #FAC02B;
$color-green: #0FBF36;

// Font weights

.font-weight-regular {font-weight: 400;}
$font-weight-regular: 400;

.font-weight-medium {font-weight: 500;}
$font-weight-medium: 500;

.font-weight-demibold {font-weight: 600;}
$font-weight-demibold: 600;

.font-weight-bold {font-weight: 700;}
$font-weight-bold: 700;

// Font size

.font-size-label {font-size: 1.6rem;}
$font-size-label: 1.8rem;

.font-size-label-title {font-size: 2rem;}
$font-size-label-title: 2.4rem;

.font-size-label-title-x2 {font-size: 4rem;}
$font-size-label-title-x2: 4.4rem;

// Font family

$font-family-regular: "TT Commons Regular";
$font-family-regular-italic: "TT Commons Regular Italic";

$font-family-medium: "TT Commons Medium";
$font-family-medium-italic: "TT Commons Medium Italic";

$font-family-demibold: "TT Commons DemiBold";
$font-family-demibold-italic: "TT Commons DemiBold Italic";

$font-family-bold: "TT Commons Bold";
$font-family-bold-italic: "TT Commons Bold Italic";

// Normalize

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

// Set default element style

html {
  font-size: 10px; // Initialize rem unit
  font-family: $font-family-regular;
  padding: 0;
  margin: 0;
  color: $color-black;
  background: $color-white;
  background-color: $color-white;
  letter-spacing: .03rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  border: none !important;
}

// Form

.form {
  &.inline {
    label {
      display: inline-block;
      margin: 0;
      .button {
        margin: 0;
      }
      &.disabled {
        cursor: not-allowed !important;
        opacity: .3;
        user-select: none;
        pointer-events: none;
      }
    }
  }
  .sub-group {
    margin-left: 2rem;
  }
  .label, .button, .select {
    display: block;
    margin-top: 1.5rem;
    .label {
      margin-top: 0rem;
      display: inline-block;
    }
    &:first-child {
      margin-top: 0rem;
    }
  }
  .label {
    margin-top: 3rem;
  }
  label {
    margin-top: .8rem;
  }
  .group {
    margin-top: 3rem;
    &:first-child {
      margin-top: 0rem;
      margin-bottom: 3rem;
    }
    .label, .button, .select {
      &:first-child {
        margin-top: 0rem;
      }
      margin-top: 1.5rem;
    }
  }
  .button {
    display: flex;
  }
}

// Inputs

select, input, label {
  font-size: $font-size-label;
}
input {
  max-width: 11rem;
  display: inline-block;

  &[type="checkbox"], &[type="radio"] {
    display: none;

    &:hover ~ .label::before {
      background: $color-grey-selection;
    }
    &:checked ~ .label::before {
      background: $color-black;
    }
    &[type="checkbox"]:checked ~ .label::before {
      background-image: url("../css/icons/check.svg");
      background-size: 1.8rem 1.8rem;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  &[type="radio"] ~ .label::before {
    border-radius: 100%;
    box-shadow: inset 0 0 0 .3rem $color-grey-input, inset 0 0 0 .7rem $color-grey;
  }
  &[type="radio"]:checked ~ .label::before {
    box-shadow: inset 0 0 0 .3rem $color-black, inset 0 0 0 .7rem $color-grey;
  }
}

input[type="number"],
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: inline-block;
  width: auto;
  margin-top: 1.5rem;
  appearance: none;
  border: none;
  padding: 1.2rem 1.6rem;
  border-radius: 1rem;
  background: $color-grey-input;
  font-family: $font-family-medium;
  font-size: $font-size-label;
  transition: all .1s ease-in-out;

  &[disabled] {

    &::placeholder {
      opacity: .8;
    }

    &:hover, &:active, &:focus {
      box-shadow: none;
    }
  }

  &.no-resize {
    resize: none;
  }

  &.no-border {
    &:hover, &:active, &:focus {
      box-shadow: none;
    }
  }

  &::placeholder {
    opacity: .35;
  }

  &[type="password"] {
    letter-spacing: .5rem;
    -webkit-text-fill-color: $color-black;
    -webkit-text-stroke-width: .5rem;
    -webkit-text-stroke-color: $color-black;

    &::placeholder {
      letter-spacing: .15rem;
      -webkit-text-stroke-width: 0;
    }
  }

  &:hover {
    box-shadow: 0 0 0 .2rem rgba($color-black, .2);
  }
  &:focus, &:active {
    box-shadow: 0 0 0 .2rem rgba($color-black, .6);
  }

  &.mode-fill {
    display: block;
    width: 100%;
    max-width: 100vw;
  }
}

input[type="password"].hint {
  position: relative;
  & ~ label.passwordHint {
    position: absolute;
    top: 50%;
    left: calc(50% + 2.5rem);
    transform: translateY(-50%);
    padding: 3rem 2.5rem;
    background: $color-black;
    color: $color-white;
    border-radius: 1rem;
    transition: all .15s ease-in-out;
    pointer-events: none;
    opacity: 0;
  }
  &:focus ~ label.passwordHint {
    left: calc(50% + 3rem);
    opacity: 1;
  }
  & ~ label {
    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: -1rem;
      width: 2rem;
      height: 2rem;
      background: $color-black;
      transform: translateY(-50%) rotateZ(45deg);
    }
    span {
      font-family: $font-family-demibold;
    }
    p {
      position: relative;
      margin: 1.75rem 0 0 3.8rem;
      color: $color-grey;
      &::before {
        content: "";
        position: absolute;
        top: -0.1rem;
        left: -3.4rem;
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 100%;
        background: rgba($color-red,.8);
        background-image: url("../css/icons/cross.svg");
        background-size: 1.1rem 1.1rem;
        background-position: center center;
        background-repeat: no-repeat;
      }
      &.done::before {
        background: rgba($color-green,.85);
        background-image: url("../css/icons/check.svg");
        background-size: 1.4rem 1.4rem;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
}

label {
  display: block;
  margin-bottom: 1.5rem;
  cursor: pointer;

  .label {
    padding-left: 4.4rem;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 3rem;
      height: 3rem;
      background: $color-grey-input;
      border-radius: .8rem;
    }
  }
}

// Image uploader

#uploadImgSource {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  opacity: 0;
  pointer-events: none;
}

.dropArea {
  border: .35rem dashed $color-grey-selection;
  border-radius: 1rem;
  width: 100%;
  margin: 2rem auto;
  padding: 3rem 2rem;
  text-align: center;

  label {
    color: $color-grey-detail;
  }
}
.dropArea.highlight {
  border-color: rgba($color-black, .2);
  background: rgba($color-black, .05);

  .button {
    background: rgba($color-black, .1);
  }
}
.gallery {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:flex-start;
  align-content:flex-start;
  width: 38rem;
  max-width: 38rem;
  margin-top: 1rem;

  .imageOptions {
    position: fixed;
    top: 0;
    left: 0;
    width: 18rem;
    height: 12rem;
    border-radius: .6rem;
    background: rgba($color-black,.6);
    pointer-events: none;
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 3rem;
      height: 3rem;
      transform: translateY(-50%) translateX(-50%);
      background-image: url("../css/icons/remove.svg");
      background-size: 3rem 3rem;
      background-position: center center;
      background-repeat: no-repeat;
    }

    &.hide {
      opacity: 0;
    }
  }
}
.button {
  display: inline-block;
  padding: 1rem;
  background: $color-grey-input;
  cursor: pointer;
  border-radius: 1rem;
}
.button:hover {
  background: $color-grey-selection;
}
.fileElement {
  display: none;
}

// => Selector

.select {
  position: relative;
}

/*
.select select {
  //display: none !important;
}
*/

.select-selected {
  background: $color-grey-selection;
  font-family: $font-family-demibold;
  border-radius: 1rem;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: ">";
  top: 1.8rem;
  right: 1rem;
  transform: rotateZ(90deg) scaleY(1.6);
  transform-origin: center center;
  font-size: $font-size-label-title;
  font-family: $font-family-regular;
  width: 0;
  height: 0;
}
.select-selected.select-arrow-active {
  border-radius: 1rem 1rem 0rem 0rem;
  &:after {
    top: 2.8rem;
    right: 6rem;
    transform: rotateZ(-90deg) scaleY(1.6);
  }
}

.select-items div,.select-selected {
  color: $color-black;
  padding: 1.4rem 2rem;
  font-size: $font-size-label;
  cursor: pointer;
  user-select: none;
  border-radius: 1rem;
}
.select-items {
  position: absolute;
  background: $color-grey-selection;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 0rem 0rem 1rem 1rem;
  //box-shadow: 0 6rem 5rem rgba($color-black, .2);
}
.select-hide {
  display: none;
}
.select-items div:hover, .item-selected {
  background: rgba($color-black,.1);
}
.item-selected {
  font-family: $font-family-demibold;
}

// Flexbox

.flexbox {
  display: flex;

  &.inline {
    display: inline-flex;
  }

  .searchView {
    #map, #viewMode {
      position: relative;
    }
    input[type="radio"]#viewMode {
      &[value="1"] ~ #map {
        pointer-events: none;
        opacity: 0;
        transform: scale(0) !important;
        order: 2;
      }
      &[value="1"] ~ #catalogo {
        pointer-events: all;
        opacity: 1;
        transform: scale(1) !important;
        order: 1;
      }
      &[value="2"] ~ #catalogo {
        pointer-events: none;
        opacity: 0;
        transform: scale(0) !important;
        order: 2;
        display: none !important;
      }
      &[value="2"] ~ #map {
        pointer-events: all;
        opacity: 1;
        transform: scale(1) !important;
        order: 1;
      }
    }
  }

  .map {
    &.round {
      border-radius: 1rem;
      overflow: hidden;
    }
  }

  &.block {
    background: $color-grey;
    display: inline-table;
    
    &.form {
      padding: 5rem 4rem;
    }
    &.round {
      border-radius: 1rem;
    }
    &.overflow {
      overflow: auto;
    }
  }
  &.group {
    background: $color-grey;
    &.round {
      border-radius: 1rem;
    }
    &.overflow {
      overflow: auto;
    }
    .option {
      background: none;
      user-select: none;
      &.selected {
        background: $color-grey-selection;
        font-family: $font-family-bold;
      }
    }
    label {
      &.inline {
        display: inline-flex;
      }
      input[type="radio"] {
        display: none;
      }
      input[type="radio"]:checked ~ .label, input[type="radio"]:checked ~ .button {
        background: $color-grey-selection;
        font-family: $font-family-bold;
      }
    }
  }
  &.spaced {
    margin: 2rem;
  }
  &.spaced-top {
    margin-top: 4rem;
  }
  &.spaced-inner-top {
    padding-top: 4rem;
  }
  &.spaced-inner-bottom {
    padding-bottom: 4rem;
  }
  &.inner-spaced {
    padding: 2rem;
  }
  &.shrinknt {
    flex-shrink: 0;
  }
  &.center-v {
    align-items: center;
  }
  &.center-h {
    justify-content: center;
  }
  &.center-items-v {
    align-items: center;
    * {
      margin-top: 0;
    }
  }

  &.column {
    flex-direction: column;
    //box-shadow: inset 0 0 0 .2rem red;
  }
  &.row {
    flex-direction: row;
    //box-shadow: inset 0 0 0 .2rem blue;
  }
  &.row, &.column {
    &.full-width {
      width: 100vw;
      overflow: auto;
    }
    &.full-height {
      height: 100vh;
      overflow: auto;
    }
  }
  .item {
    &.full-width, &.full-height {
      flex: 0 0 100%;
    }
  }
}

// Icons

svg.icon{
  width: 2.4rem;
  height: 2.4rem;
} 

// Spacers

.sep {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;

  &.x2 {
    width: 3rem;
    height: 3rem;
  }

  &.inline {
    display: inline-block;
  }
}


// Label

.label {
  font-size: $font-size-label;
  line-height: $font-size-label;
  font-family: $font-family-medium;
  display: inline-block;

  &.inline {
    display: inline-block !important;
  }
  &.block {
    display: block !important;
  }

  &.centered {
    text-align: center;
  }

  &.detail {
    color: $color-grey-detail;
  }
  &.green {
    color: $color-green;
  }
  &.yellow {
    color: $color-yellow;
  }
  &.red {
    color: $color-red;
  }

  &.bold {
    font-family: $font-family-demibold;
  }

  &.paragraph {
    font-family: $font-family-regular;
  }

  &.title {
    font-size: $font-size-label-title;
    line-height: $font-size-label-title;
    font-family: $font-family-demibold;
  }

  &.title-x2 {
    font-size: $font-size-label-title-x2;
    line-height: $font-size-label-title-x2;
    font-family: $font-family-demibold;

    &.spaced-top {
      margin-top: 6rem;
    }
  }

  &.required {
    &::after {
      content: " *";
      font-family: $font-family-demibold;
      color: $color-red;
    }
  }

  &.optional {
    &::after {
      content: " (opcional)";
      font-family: $font-family-demibold;
      font-size: $font-size-label;
      color: $color-grey-detail;
    }
  }
}

// Buttons

.button {
  cursor: pointer;
  font-size: $font-size-label;
  font-family: $font-family-demibold;
  padding: 1.6rem 4.4rem;
  border-radius: 1rem;
  background: $color-grey-input; // default
  color: $color-black; // default
  display: inline-flex;
  align-items: center;
  appearance: none;
  border: none !important;
  letter-spacing: .1rem;

  &.center {
    justify-content: center;
  }
  &.centered {
    margin: 0 auto;
  }
  &.block {
    width: 100%;
  }

  &.invisible {
    display: none !important;
  }

  // Size
  &.chip {
    padding: 1rem 2.6rem !important;
    &.icon {
      // SVG Adjustement
      padding: 0.835rem 2.6rem !important;
      svg {
        transform: scale(.75);
        margin-right: 0.6rem !important;
      }
    }
  }
  &.inline-flex {
    display: inline-flex;
  }

  // Styles
  &.black {
    background: $color-black;
    color: $color-white;
    &.icon svg, &.icon-button svg {
      stroke: $color-white !important;
    }
  }
  &.action {
    background: $color-yellow;
    color: $color-black;
  }
  &.icon {
    // SVG Adjustement
    padding: 1.435rem 4.4rem !important;
    svg {
      margin-right: 1.6rem;
      stroke: $color-black;
    }
  }
  &.icon-button {
    padding: 0 0;
    height: 5.27rem;
    width: 5.27rem;
    svg {
      margin-right: 0;
      stroke: $color-black;
      margin: auto auto;
    }
  }

  &.applyFiltersSearch {
    position: fixed;
    bottom: 2.5rem;
    max-width: 30rem;
    box-shadow: 0 3rem 0 0 $color-grey, 0 -.9rem 2rem 1rem $color-grey;

    &::before {
      content: "";
      position: absolute;
      top: -4rem;
      left: 0;
      width: 100%;
      height: 4rem;
      background: linear-gradient(rgba($color-grey,0),rgba($color-grey,1));
    }
  }

}

// Property list item

.list .property_item {
  margin-bottom: 3rem;
  .photo {
    margin-right: 3rem;
  }
  .description {
    max-width: 40rem;
  }
  .features div::after {
    content: "·";
    margin: 0 1rem;
  }
  .features div:last-child::after {
    content: none !important;
    margin: 0;
  }
}
.property_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .photo {
    min-width: 45rem;
    width: 45rem;
    max-width: 45rem;
    height: 30rem;
    background-image: url(./img/placeholder.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 3rem;
  }

  .location, .features {
    margin-bottom: 1rem;
  }
  .price, .description {
    margin-bottom: 2.4rem;
  }

  .price {
    display: flex;
    align-items: baseline;
    .currency {
      margin-left: .6rem;
    }
  }

  .actions {
    display: flex;
    .button {
      margin-right: 1rem;
    }
    .button:last-child {
      margin-right: 0;
    }
  }
}